<%== erb :'components/display_topic' %>

<form method="post" action="/topics/<%= @topic_id %>/replies/<%= @reply.id %>/delete" class="delete">
  <button type="submit" class="delete opacity-hover">Delete Reply</button>
</form>

<form method="post" action="/topics/<%= @topic_id %>/replies/<%= @reply.id %>/edit" class="edit">
  <div>
    <label for="body">Reply:</label>
    <div>
      <textarea name="body" id="body" rows="20" cols="80"><%= (@body || @reply.body)&.strip %></textarea>
    </div>
  </div>

  <button type="submit">Save Changes</button>

  <%== erb :'components/cancel_link' %>
</form>

